extends resources/page.pug

block title
  title Arthur "the Aardvark" Goldman

block content
  p This is the personal website of Arthur Goldman, a current junior at Southwest High School.


  img(src="/assets/pokemon/card.png")

  img(src="/assets/pokemon/dex.png")

  img(src="/assets/pokemon/bag.png")


  img(src="/assets/pokemon/doll.png")
